/*------- fonts ------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*------ common styles or utilities ------*/

body {
  background-color: rgb(243, 243, 243);
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1050px;
}
/* ------- header ------- */
.header-top {
  width: 100%x;
  height: 677px;
  background-color: #2d25a0;
  display: flex;
}
.banner {
  position: absolute;
  margin-top: 130px;
  margin-left: 600px;
}
.banner img {
  width: 500px;
  height: 380px;
}
.header-title {
  position: absolute;
  color: white;
  font-size: 35px;
  margin-top: 150px;
  margin-left: 120px;
  line-height: 90px;
}
.watch-live {
  position: absolute;
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  margin-top: 470px;
  margin-left: 120px;
  transition: width 1s;
}
.watch-live:hover {
  width: 300px;
}
.button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
}
.fa-arrow-right {
  color: white;
  margin-top: 6px;
  margin-left: 7px;
}
/*------ players ------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.thumbnail img {
  width: 300px;
  height: 256px;
  margin-left: 12px;
  margin-top: 12px;
}
.blog {
  background-color: white;
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
  box-shadow: 0.5px 0.5px rgb(212, 211, 211);
}
.blog-info {
  margin: 10px;
}
.players-name {
  font-size: 28px;
  color: #18191f;
}
.players-details {
  font-size: 16px;
  text-align: justify;
}
/*--------- optional part ------- */
.optional {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.photo-frame {
  width: 1020px;
  position: relative;
  overflow: hidden;
  align-content: center;
  margin: 10px;
  margin-left: 50px;
  background-color: white;
}
.photo img {
  width: 100%;
}
.news-details {
  display: none;
  position: absolute;
  top: 0;
  margin: 10px;
  font-size: 25px;
  margin-top: 280px;
  text-align: justify;
}
.news-details h3 {
  text-align: justify;
  color: antiquewhite;
}
.photo-frame:hover .news-details {
  display: block;
  background-color: rgba(255, 228, 196, 0.288);
}
.photo-frame:hover .photo {
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
/* -------- footer ------- */
.footer-item {
  background-color: white;
  width: 100%;
  margin-top: 20px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 450px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: inline-block;
  background-color: rgb(231, 231, 231);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  text-align: center;
  font-size: 22px;
  color: #969bab;
  margin-left: 5px;
}
.copy-right {
  text-align: center;
  margin-top: 15px;
}

/*----------Media Queries------------ */
/* --------Mobile Devices------ */
@media only screen and (max-width: 688px) {
  .header-top {
    width: 100%;
    height: 595px;
    background-color: #2d25a0;
  }
  .header-title {
    color: white;
    font-size: 15px;
    margin-top: 80px;
    margin-left: 40px;
    line-height: 40px;
  }
  .watch-live {
    width: 168px;
    height: 44px;
    background-color: #e02c6d;
    margin-top: 240px;
    margin-left: 40px;
    transition: width 1s;
  }
  .watch-live:hover {
    width: 200px;
  }
  .banner {
    margin-top: 300px;
    margin-left: 10px;
  }
  .banner img {
    width: 200px;
    height: 180px;
  }
  .container {
    width: 330px;
  }
  .blogs,
  .blog {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
  .blogs img {
    width: 280px;
    height: 236px;
    display: flex;
  }

  .photo-frame {
    width: 310px;

    margin: 10px;
    margin-left: 85px;
    background-color: white;
  }
  .photo img {
    width: 100%;
  }
}
